<div class="md-inline-form">
  <p>Family or National Celebrations</p>

  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.SI_FONC_weddings"
                placeholder="Weddings - Specify changes (if any) in the frequency and type of celebrations during the reporting period" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.SI_FONC_weddingsChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>



  </div>
  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.SI_FONC_GraduationCeremonies"
                placeholder="Graduation Ceremonies - Specify changes (if any) in the frequency and type of celebrations during the reporting period" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.SI_FONC_GraduationCeremoniesChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>


  </div>

  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.SI_FONC_Festivals"
                placeholder="Festivals (like Nawruz carnival)/National Holidays (Labor Day, Women’s Day, Independence Day) - Specify changes (if any) in the frequency and type of celebrations during the reporting period" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.SI_FONC_FestivalsChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>



  </div>
  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.SI_FONC_OpeningCeremonies"
                placeholder="Opening Ceremonies or Public Speeches - Specify changes (if any) in the frequency and type of celebrations during the reporting periodL" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.SI_FONC_OpeningCeremoniesChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>



  </div>
  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.SI_FONC_FridayPicnics"
                placeholder="Friday Picnics - Specify changes (if any) in the frequency and type of celebrations during the reporting period" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.SI_FONC_FridayPicnicsChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>



  </div>

</div>

