<div class="md-inline-form">
  <p>Housing/Accommodations</p>

  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.CSS_HA_HousingRentalCost"
                placeholder="Housing Rental (100-120 square meter size – 2 rooms) - Cost, Impact on Citizens" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.CSS_HA_HousingRentalCostChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>


  </div>
  <div layout="column" layout-gt-xs="row" flex>

    <md-input-container flex="80">
      <textarea ng-model="vm.sr.CSS_HA_HousingRentalAvailability"
                placeholder="Housing Rental (100-120 square meter size – 2 rooms) - Availability, Impact on Citizens" required></textarea>
      <div ng-messages="horizontalStep2.step.$error"
           ng-show="horizontalStep2.step.$touched"
           role="alert">
        <div ng-message="required">
          <span>Field is required.</span>
        </div>
      </div>
    </md-input-container>


    <md-input-container flex="2">
      <label>CHANGE</label>
      <md-select ng-model="vm.sr.CSS_HA_HousingRentalAvailabilityChange" required>
        <md-option ng-repeat="changeValue in vm.changeValues" value="{{changeValue.value}}">
          {{changeValue.name}}
        </md-option>
      </md-select>
    </md-input-container>


  </div>


</div>

