<div ng-show="vm.isEdit">
  <ali-show-photos filter-by="'8.'"></ali-show-photos>
</div>

<div class="md-inline-form">


  <md-checkbox ng-model="vm.form.m8_active" aria-label="None">Respondent: Directorate POC
  </md-checkbox>

  <div ng-if="vm.form.m8_active">

    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-disabled="!vm.editAllow" ng-model="vm.form.m8_1"
                placeholder="8.1 Associated directorate"
                required></textarea>
      </md-input-container>
    </div>


    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-disabled="!vm.editAllow" ng-model="vm.form.m8_2"
                placeholder="8.2 Name of Directorate Point of Contact (POC)"
                required></textarea>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-disabled="!vm.editAllow" ng-model="vm.form.m8_3"
                placeholder="8.3 Directorate POC role/title"
                required></textarea>
      </md-input-container>
    </div>


    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100">
        <label>8.4 Gender of Directorate POC</label>
        <md-select ng-model="vm.form.m8_4" required ng-disabled="!vm.editAllow">
          <md-option value="Male">Male</md-option>
          <md-option value="Female">Female</md-option>
        </md-select>
      </md-input-container>
    </div>


  </div>

</div>
