<div class="md-inline-form">
  <p>VI.	Observations</p>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>1.	Rate the general appearance of the health facility on a scale of 1 to 5, with 1 being the worst and 5 being the best.</label>
      <md-select ng-model="vm.healthForm.OBRate" required>
        <md-option ng-repeat="item in vm.selectOneToFive" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>2. In your interactions with UNDP FFS staff, or the local point of contact, did they cooperation with your monitoring efforts? </label>
      <md-select ng-model="vm.healthForm.OBInteractionsWithUNDP" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBInteractionsWithUNDPIfYes"
                placeholder="2.1. If no, please explain." required></textarea>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>3. If the work is not yet complete, is the work area safe and organized? </label>
      <md-select ng-model="vm.healthForm.OBWorkIsNotYetCompleted" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>3.1. If the work is not yet complete, is the needed medical equipment available in the facility?</label>
      <md-select ng-model="vm.healthForm.OBWorkIsNotYetCompletedIsNeeded" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnowAndNone" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBListAnyMedicalMissing"
                placeholder="3.3. Please list any medical equipment needed that is missing?" required></textarea>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>4.  Were the contracting company personnel on good terms with the health facility staff and others at the site, including beneficiaries?</label>
      <md-select ng-model="vm.healthForm.OBContractingCompany" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>5. Were the health facility staff dressed and conducting themselves professionally?</label>
      <md-select ng-model="vm.healthForm.OBHealthFacilityStaff" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>6.	Were they welcoming, engaged and listening to patients?</label>
      <md-select ng-model="vm.healthForm.OBWereAnyWelcoming" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>7. 	Did you encounter any access issues or security challenges in traveling to the site, or while at the activity site?</label>
      <md-select ng-model="vm.healthForm.OBEncounterAnyAccessIssue" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNo" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBEncounterAnyAccessIssueIfYes"
                placeholder="7.1.  If yes, please explain your answer and the type of challenge." required></textarea>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>8.	During the site visit did you encounter any indications that the activity contributed to community tensions?</label>
      <md-select ng-model="vm.healthForm.OBDuringSiteCommunityTensions" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNo" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBDuringSiteCommunityTensionsIfYes"
                placeholder="8.1	If yes, please explain your answer and the type of challenge." required></textarea>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>9. During the site visit did you encounter any indications that there was a negative effect on girls or women?
      </label>
      <md-select ng-model="vm.healthForm.OBDuringSiteNegativeWomanEffect" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNo" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBDuringSiteNegativeWomanEffectIfYes"
                placeholder="9.1	If yes, please explain your answer." required></textarea>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>10.	During the site visit did you encounter any indications that there was fraud or diversion of resources at the activity site?</label>
      <md-select ng-model="vm.healthForm.OBDuringSiteDiversionOfResources" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNo" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBDuringSiteDiversionOfResourcesIfYes"
                placeholder="10.1.	If yes, please explain your answer." required></textarea>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <textarea ng-model="vm.healthForm.OBAnyOtherObservations"
                placeholder="11.  Any other observations of relevance to the site visit, particularly as it impacts the flag assignment?" required></textarea>
    </md-input-container>
  </div>


</div>
