<div id="login" class="flex-scrollable" layout="column" ms-scroll>
  <div id="login-form-wrapper" layout="column" layout-align="center center">
    <div id="login-form" class="md-whiteframe-8dp">
      <div>
        <img src="../../../../../assets/Brand_IRAQ_RGB_LO.bmp" style="width: 280px;">
      </div>

            <div class="title" translate="RESETPASSWORD.TITLE" style="margin-top: 60px">Change your password</div>

            <form name="resetPasswordForm" novalidate>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

              <md-progress-circular ng-disabled="!vm.isLoading" class="md-hue-2" md-diameter="20px"></md-progress-circular>

              <md-button ng-click="vm.submit()" type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                           translate="RESETPASSWORD.UPDATE_PASSWORD"
                           ng-show="!vm.isLoading"
                           translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD">
                    Change MY PASSWORD
                </md-button>
            </form>
        </div>
    </div>
</div>
