<div class="md-inline-form">
  <p>VI. Beneficiary (Residents of the Neighborhood) Survey 2</p>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>5.	What is your level of satisfaction with the work being done to clean up your neighborhood?</label>
      <md-select ng-model="vm.municipalityForm.BSR_level_satisfaction" required>
        <md-option ng-repeat="item in vm.selectSatisfactions" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_level_satisfaction_if"
             placeholder="5.1. If Somewhat Dissatisfied or Very Dissatisfied please explain why." required>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>6. Did you leave the Governorate because of the conflict?</label>
      <md-select ng-model="vm.municipalityForm.BSR_leave_conflict" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>6.1. If yes, please rate the level of influence that this activity had on your decision to return to the Governorate.</label>
      <md-select ng-model="vm.municipalityForm.BSR_level_satisfaction_if_yes" required>
        <md-option ng-repeat="item in vm.selectLevelsAffected" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_level_satisfaction_if_yes_explain"
             placeholder="6.1.1. Please explain your answer." required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_how_many_residents"
             placeholder="7. How many residents in your neighborhood will benefit from this project activity?" required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>8. How would you rate the impact on your community of the project activity?</label>
      <md-select ng-model="vm.municipalityForm.BSR_rate_impact" required>
        <md-option ng-repeat="item in vm.selectImpact" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_rate_impact_explain"
             placeholder="8.1	Please explain your answer." required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>9.	Are you aware of any methods to share feedback, suggestions or complaints concerning the project activity?</label>
      <md-select ng-model="vm.municipalityForm.BSR_methods_share_feedback" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100">
      <label>9.1. If yes, have you or anyone you know used this mechanism?</label>
      <md-select ng-model="vm.municipalityForm.BSR_methods_share_feedback_if_yes" required>
        <md-option ng-repeat="item in vm.selectYesNoDoNotKnow" value="{{item.value}}">{{item.name}}</md-option>
    </md-input-container>
  </div>


  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_methods_share_feedback_if_yes_result"
             placeholder="9.1.1 If yes, please describe the result." required>
    </md-input-container>
  </div>



  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.BSR_have_done"
             placeholder="10.	What could have been done to improve this project activity?" required>
    </md-input-container>
  </div>



  <table class="simple" ms-responsive-table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Age</th>
      <th>Gender</th>
      <td>Actions</td>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <td></td>
    </tr>
    </tfoot>

    <tbody>
    <tr ng-repeat="bsr in vm.municipalityForm.bsr" ng-if="vm.municipalityForm.bsr.length">
      <td class="name">{{bsr.BSRName}}</td>
      <td class="position">{{bsr.BSRTitle}}</td>
      <td class="age">{{bsr.BSRAge}}</td>
      <td class="gender">{{bsr.BSRGender}}</td>
      <td>
        <md-button ng-if="bsr.id" class="md-raised" ui-sref="app.ui_forms-municipality.bsr({municipalityId:{{bsr.id}}, id:{{vm.id}}, type: 'edit'})">
          View
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>


  <md-button ng-if="vm.id" class="md-raised md-accent" ui-sref="app.ui_forms-municipality.bsr({id:{{vm.id}}, type: 'add'})">
    Add New Beneficiary (Residents of the Neighborhood) Survey
  </md-button>

</div>
