<div class="md-inline-form">
  <p>III. Key Informant Interview: Municipality Facility Staff (Part 2)</p>



  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.KII_list_villages"
             placeholder="17. Please list the villages/towns/cities that are benefiting or will benefit from this project activity once completed." required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.KII_achievements"
             placeholder="18. What were the achievements/successes you have observed in this project activity?" required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.KII_challenges"
             placeholder="19.	What are the most significant challenges that the project activity has encountered and what has been done to address such issues?  (If multiple challenges are shared record and clearly record each response)" required>
    </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container flex="100" flex-gt-xs="100">
      <input type="text" name="lastname" ng-model="vm.municipalityForm.KII_suggestions"
             placeholder="20.	If you have any suggestions on how to improve the project activity impact on the beneficiaries, please share. (Clarify that this is not asking if all basic needs of beneficiaries were met, but if there are ways that this specific activity could be improved)." required>
    </md-input-container>
  </div>


</div>

