
<md-dialog add-item-dialog>
  <md-dialog-content class="md-dialog-content">

    <h2 class="md-title">Add User</h2>

    <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; All fields are required.</span>
    </p>

    <p ng-if="error" class="md-warn" layout="row" layout-align="start center">
      <i class="material-icons">error_outline</i>
      <span>&nbsp; {{error}}</span>
    </p>

    <form name="item.form" ng-submit="ctrl.addItem()">
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Name</label>
          <input name="name" ng-model="objectItem.name" md-maxlength="20" required>
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input name="email" type="text" min="0" max="999" ng-model="objectItem.email" required>
        </md-input-container>
      </div>


      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Password</label>
          <input name="password" ng-model="objectItem.password" md-maxlength="20" required type="password">
        </md-input-container>
        <md-input-container flex>
          <label>Re-password</label>
          <input name="password2" type="password" min="0" max="999" ng-model="objectItem.password2" required >
        </md-input-container>
      </div>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>User Type</label>
          <md-select ng-model="objectItem.type" placeholder="Select User type" required>
            <md-option ng-repeat="userType in userTypes" value="{{userType.value}}">{{userType.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>


      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Job Title</label>
          <input name="job" type="text" min="0" max="999" ng-model="objectItem.job" required>
        </md-input-container>
      </div>

    </form>

  </md-dialog-content>

  <div class="md-dialog-actions">
    <md-button ng-show="objectItem.id" class="md-primary" ng-click="ctrl.addItem()">Update Item</md-button>
    <md-button ng-show="!objectItem.id" class="md-primary" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid">Add Item</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
  </div>

</md-dialog>
