<p>{{fields.Title}}</p>

<div ng-if="vm.isEdit && $index === 0">
  <ali-show-photos form-name="'MENA'"></ali-show-photos>
</div>

<div class="md-inline-form" ng-if="vm.isModuleIsActive(fields)">

  <div layout="column" layout-gt-xs="row" flex ng-repeat="fieldItem in fields['Components'][0]['Fields']">

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'SelectOne'">
        <md-input-container flex="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
          <label>{{fieldItem.Title}}</label>
          <md-select ng-model="fieldItem.Value" required ng-disabled="!vm.editAllow">
            <md-option ng-repeat="option in fieldItem.OptionItems" value="{{option}}">{{option}}</md-option>
          </md-select>
        </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'SelectMulti'">
      <md-input-container flex="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
        <label>{{fieldItem.Title}}</label>
        <md-select ng-model="fieldItem.ValueMulti" required ng-disabled="!vm.editAllow" multiple>
          <md-option ng-repeat="option in fieldItem.OptionItems" value="{{option}}">{{option}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'TextArea' || fieldItem.Type === 'Text'">
        <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
        <textarea ng-model="fieldItem.Value" ng-disabled="!vm.editAllow" placeholder="{{fieldItem.Title}}"
                  required></textarea>
        </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Location'">
      <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
        <input type="text" ng-model="vm.formAll.gps" ng-disabled="true" placeholder="{{fieldItem.Title}}"
               required>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Number' || fieldItem.Type === 'IntNumber'">
      <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
        <input type="text" ng-model="fieldItem.Value" ng-disabled="!vm.editAllow" placeholder="{{fieldItem.Title}}"
                  required>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Date'">
      <md-input-container flex="100" flex-gt-xs="100">
        <label>{{fieldItem.Title}}</label>
        <md-datepicker ng-if="fieldItem.Name === 'm1_7'" ng-model="vm.formAll.date_of_visit" md-placeholder="Date(s) of site visit"
                       md-min-date="minDate" md-max-date="maxDate" ng-disabled="!vm.editAllow"></md-datepicker>

        <md-datepicker ng-if="fieldItem.Name !== 'm1_7'" ng-model="fieldItem.Value" md-placeholder="Date(s) of site visit"
                       md-min-date="minDate" md-max-date="maxDate" ng-disabled="!vm.editAllow"></md-datepicker>
      </md-input-container>
    </div>

  </div>

  <div ng-if="fields['Components'].length > 1">
    <div layout="column" layout-gt-xs="row" flex ng-repeat="fieldItem in fields['Components'][1]['Fields']">

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'SelectOne'">
        <md-input-container flex="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
          <label>{{fieldItem.Title}}</label>
          <md-select ng-model="fieldItem.Value" required ng-disabled="!vm.editAllow">
            <md-option ng-repeat="option in fieldItem.OptionItems" value="{{option}}">{{option}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'SelectMulti'">
        <md-input-container flex="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
          <label>{{fieldItem.Title}}</label>
          <md-select ng-model="fieldItem.ValueMulti" required ng-disabled="!vm.editAllow" multiple>
            <md-option ng-repeat="option in fieldItem.OptionItems" value="{{option}}">{{option}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'TextArea' || fieldItem.Type === 'Text'">
        <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
        <textarea ng-model="fieldItem.Value" ng-disabled="!vm.editAllow" placeholder="{{fieldItem.Title}}"
                  required></textarea>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Location'">
        <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
          <input type="text" ng-model="vm.formAll.gps" ng-disabled="true" placeholder="{{fieldItem.Title}}"
                 required>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Number' || fieldItem.Type === 'IntNumber'">
        <md-input-container flex="100" flex-gt-xs="100" ng-if="vm.showTheField(fieldItem, fields['Components'][0]['Fields'])">
          <input type="text" ng-model="fieldItem.Value" ng-disabled="!vm.editAllow" placeholder="{{fieldItem.Title}}"
                 required>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-xs="row" flex ng-if="fieldItem.Type === 'Date'">
        <md-input-container flex="100" flex-gt-xs="100">
          <label>{{fieldItem.Title}}</label>
          <md-datepicker ng-if="fieldItem.Name === 'm1_7'" ng-model="vm.formAll.date_of_visit" md-placeholder="Date(s) of site visit"
                         md-min-date="minDate" md-max-date="maxDate" ng-disabled="!vm.editAllow"></md-datepicker>

          <md-datepicker ng-if="fieldItem.Name !== 'm1_7'" ng-model="fieldItem.Value" md-placeholder="Date(s) of site visit"
                         md-min-date="minDate" md-max-date="maxDate" ng-disabled="!vm.editAllow"></md-datepicker>
        </md-input-container>
      </div>

    </div>
  </div>

</div>
